@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Montserrat&display=swap");

:root {
  --primary-bg-color: rgb(10, 10, 10);
  --primary-text-color: rgb(196, 196, 196);
  --link-text-color: rgb(145, 145, 255);
  --link-text-hover: rgb(99, 99, 252);
}

* {
  scroll-behavior: smooth;
  font-family: Montserrat, sans-serif;
  line-height: normal;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

h1 {
  font-family: Fredoka, sans-serif;
  text-align: center;
}

li:not(:last-child) {
  margin-bottom: 0.75rem;
}

a {
  text-decoration: none;
  padding-bottom: 2px;
  color: var(--link-text-color);
  border-bottom: 1px solid var(--link-text-color);
}

a:hover {
  color: var(--link-text-hover);
  border-bottom: 1px solid var(--link-text-hover);
  transition: 300ms;
}

img {
  display: block;
  width: 100%;
}

/* The app-bar is a flexbox consisting of a left-action, an h1, and a right-spacer */
.app-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  font-size: 1rem;
}

.app-bar > h1 {
  flex: flex-grow;
}

.app-bar > .left-action,
.app-bar > .right-spacer {
  min-width: 2rem;
  max-width: 2rem;
  align-self: stretch;
}

.left-action > a,
.remove-link-decorations,
.remove-link-decorations:hover {
  text-decoration: none;
  padding-bottom: 0px;
  border-bottom: 0px solid;
}

.nav-icon {
  color: var(--link-text-color);
}

.nav-icon:hover {
  color: var(--link-text-hover);
  transition: 300ms;
}

.remove-link-decorations:hover {
  transform: scale(1.1);
  transition: 300ms;
}

.remove-link-decorations:active {
  transform: scale(0.9);
  transition: 100ms;
}

/* Wrapper for recipe hero image and attribution */
.img-recipe {
  position: relative;
  width: 80vw;
  max-height: 400px;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.img-attribution {
  position: absolute;
  bottom: 0px;
  right: 12.8px;
  max-width: 40%;
  font-size: 0.8rem;
  background-color: hsla(0, 0%, 0%, 0.65);
  padding: 4px;
  border-radius: 4px;
}

.scroll-to-top {
  position: fixed;
  bottom: 1.2rem;
  right: 1.5rem;
  z-index: 2;
  transition: 0.2s;
}
